::v-deep .ui_function {
    position: sticky;
    top: 40px;
    z-index: 1;

    &.is-lnb {
        top: 0;
    }
}

::v-deep .ui_brd {
    > .wrap {
        > table {
            thead {
                top: 100px;
            }

            tbody {
                tr {
                    cursor: pointer;
                }
            }
        }
    }
}
