::v-deep.ui_box {
    .ui_brd {
        > .wrap {
            > table {
                width: 100%;
                table-layout: fixed;

                > tbody {
                    > tr {
                        cursor: pointer;

                        > td {
                            > span.box {
                                display: flex;
                                justify-content: space-between;
                                span {
                                    &:last-child {
                                        flex: 0 0 auto;
                                        text-align: right;
                                    }
                                }
                            }

                            &.is-no-over {
                                cursor: default !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
