@import '@shared/styles/util/mixins.scss';
@import '@shared/styles/base/color_set';

main {
    > .contents {
        > .wrap {
            > .data_mng {
                display: flex;
                flex-direction: column;
                gap: 40px;

                &:empty {
                    &:before {
                        content: '다운로드가 가능한 데이터가 없습니다';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        font-size: 1.2em;
                        white-space: nowrap;
                        opacity: 0.5;
                    }
                    &:after {
                        content: '\e045';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        margin-top: -1.1em;
                        font-family: icomoon;
                        font-size: 5em;
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}
